<div class="displayTable">
  <div class="displayTableCell">
    <div class="px-logo"></div>

    <div class="authBlock">
      <img src="./assets/Chatbot icon.svg" style="height: 320px" alt="" />
      <br />
      <br>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
    </div>
  </div>
</div>
